parameters:


database:
	dsn: 'mysql:host=127.0.0.1;dbname=test'
	user: root
	password:
	options:
		lazy: yes
doctrine:
    user: juransar
    password: juransar
    dbname: juransar
    metadata:
        App: %appDir%