#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	artistrepository:
	    class: App\Model\ArtistRepository
	    inject: yes
	songrepository:
	    class: App\Model\SongRepository
	    inject: yes
	songform:
	    class: App\Forms\SongForm
	    inject: yes
	authenticator:
	    class: App\Model\Authenticator
	    inject: yes
	userform:
	    class:  App\Forms\UserForm
	    inject: yes
	userrepository:
	    class:  App\Model\UserRepository
	    inject: yes
	onepartrepository:
	    class: App\Model\OnePartRepository
	    inject: yes
	onelinerepository:
	    class: App\Model\OneLineRepository
	    inject: yes
	loginform:
	    class:  App\Forms\LoginForm
	    inject: yes
	loginpresenter:
	    class:  App\Presenters\LoginPresenter
	    inject: yes
	chordrepository:
	    class:  App\Model\ChordRepository
	    inject: yes
	chordform:
	    class:  App\Forms\ChordForm
	    inject: yes
	onepart:
	    class: App\Model\OnePart
	    inject: yes
	chordclass:
	    class: App\Model\Chord
	    inject: yes
extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    translation: Kdyby\Translation\DI\TranslationExtension
    validator: Kdyby\Validator\DI\ValidatorExtension
doctrine:
    user: juransar
    password: 'juransar'
    dbname: juransar
    metadata:
        App: %appDir%
