{block content}
<div id="letternav">
    <ul>
        {foreach $letters as $u}
            {* <li><a href="{$presenter->link(detail, $u->id)}>{$u->name}</a></li>*}
            <li><a n:href="Artist:lettersearch $u" n:class="$presenter->isLinkCurrent() ? active">{$u}</a></li>
        {/foreach}
    </ul>
</div>
<ul>
    {foreach $artists as $u}
        <li><a n:href="Artist:detail $u->id">{$u->name}</a></li>
    {/foreach}
</ul>